//fonts
$mono: 'Anonymous Pro', monospace;
$logo: 'Pacifico', cursive;
$dosis: 'Dosis', sans-serif;

//colors
$logoBlue: #68C5DB;
$leftRed: #56151E ;
$rightred: #631721 ;
$topRed: #721A26;

$navYellow: #DBD967;
