.contactPage{
  height: auto;
  min-height: 100%;
  width: 100% !important;
  overflow: scroll;
  overflow-x: hidden;


  background: #DAE2F8; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #DAE2F8 , #D6A4A4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #DAE2F8 , #D6A4A4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: center;
  position: relative;

  .logoHold{
    display: block;
    margin: 0 auto;
    height: 70px;
    width: 250px;
    position: relative;
    left:0;
    h1{
      text-align: center !important;
      color: #DAE1F7;
      //color: #2A2B2A;
      text-shadow: rgb(94, 41, 41) 5px 2px 6px;
    }
    .defaultLogo{
      display: block !important;
      font-size: 26px;
    }
  }

.wordsTitle,
.words{
  font-family: $dosis;
}
  .wordsTitle{
    color: white ;
    letter-spacing: 3px;
  }

  .words{
     max-width: 500px;
    display: block;
    margin: 0 auto;
    //border: 1px solid white;

    @media only screen and (max-width: 560px){
      width: 90%;
    }
  }

  .contact{
    position: relative;
    width: 400px;
    display: block;
    margin: 0 auto;
    @media only screen and (max-width: 460px){
      width: 80% !important;
      #email,
      #name{
        width: 50% !important;
      }
      #name{
        left:20% !important;
      }

    }

  form{
    //border: 1px solid yellow;
    border: 1px solid transparent;
    padding: 0;
    font-family: $mono;
    height: 350px;
    margin-top: 20px;

    #name,
    #email,
    #message{
      background-color:transparent;
      border: 1px solid black;
      padding: 10px;
      color: white;
      font-size: 15px;
      &:focus{
        outline: 0;
        border: double;
        color: black;
      }
    }
    #name,
    #email{
      height: 30px;
      position: absolute;
      width: 50%;
      border-bottom: none;

    }
    #name,
    #email{
      top:2px ;
    }
    #name{
      left:1px !important;
    }
    #email{
      right:1px !important;
      border-left: none;
    }
    #message{
      width: 100%;
      height: 200px;
      margin-top: 30px;
    }
    button{
      height: 60px;
      width: 150px;
      //border: 1px solid $bottomBlue !important;
      border: none;
      //background-color: $bottomBlue;
      background-color: #68C5DB;
      //color: $bottomBlue;
      color: black;

      margin: 20px  auto;

    }

    ::-webkit-input-placeholder {
       color: white;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: white;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: white;
    }

    :-ms-input-placeholder {
       color: white;
    }
  }//end form
}//end .contact
}//end .submissions
