.free{
  #Container{
    button{
      border: 2px solid lightblue;
      border-radius: 10px;
      background-color: transparent;
      color: lightblue;
      height: 150px;
      width: 150px;
    }
  }
}
